<%- include("templates/cabecera", {tituloWeb: "pagina 404"})%>
<body>
    <h1>404</h1>
    <h2><%= titulo%></h2>
    <h3><%= descripcion%></h3>
    <%- include("templates/footer", {tituloFooter: "footer de 404"})%>
</body>
</html>