<%- include("templates/cabecera", {tituloWeb: "index"})%>
<body>
    <%- include("templates/navbar")%>
    <!-- <%- include("templates/header")%> -->
    <h1 class="text-primary">Index</h1>
    <h2><%= titulo %></h2>
    <p>Esta es una aplicación para controlar interruptores y recibir información de los sensores que estaran conectados al NodeMcu ESP8266</p>
</body>
</html>