<%- include("templates/cabecera", {tituloWeb: "Sensores"})%>
<body>
    <%- include("templates/navbar")%>
    <!-- <%- include("templates/header")%> -->
    <h1 class="text-primary"><%= tituloSensores %></h1>
    <table class="table table-dark table-hover">
        <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Temperatura</td>
        <td></td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Humedad</td>
        <td></td>
        
      </tr>
    </tbody>
  
    </table>
        
</body>
</html>

